header{
    text-align: center;
}
nav{
    color: gold;
    height: 10000px;
    width: 200px;
    float: left;
    padding: 5px;
    line-height: 30px;
}
body{
    background-color: forestgreen;
    color: yellow;
}
footer{
    text-align: center;
}

a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }