body{
    background-color: forestgreen;
    color: yellow;
}

header{
    text-align: center;
}
nav{
    height: 600px;
    width: 120px;
    float: left;
    padding: 5px;
    line-height: 30px;
}

footer{
    text-align: center;
    margin-right: 200px;
}

#pic1{
    margin-right: 200px;
}